/* body{background-color: #2C3E50;} */
#img-slider{width: 5000px;height:450px;}

.profile-image {
  border-radius: 50%;
height: 120px;
width: 120px;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
align: center;
overflow: hidden;
}
.pf-image {
  width: 100%;
}
