#img-slider{width: 5000px;height:450px;}
.customlogo{width: 25%}
/* .show_provider{width: 100%; height: 100px;} */
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}
.model{border: 2px solid white; border-radius: 5px;}
 .profile-overlay:hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
}
.profile-image {
  border-radius: 50%;
height: 140px;
width: 140px;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
align: center;
overflow: hidden;
}
.pf-image {
  width: 100%;}
.profile-show {
  height: 180px;
  overflow: hidden;
}
                /* Navbar Css Start
         ================================================
                */
.navbar-default .navbar-nav  li  a {color: white;}
.navbar-default .navbar-nav  li  a:hover {font-size: 20px;color: white;}
/*.navbar-default .navbar-nav  li  a:visited{color: #bbb;}*/
.dropdown_list li a {color:white; }
.dropdown_list  li a:hover {background-color: black; color:white; font-size: 18px;}
.dropbtn{display: none;}
.dropdown:hover .dropdown_list{display: block; background:#454251;  }
.navbar-custom {background-color: #343140;}

/*Navbar Css  End ===========================================   */


/*Footer Css  start ===========================================   */



.profile_card {
  height: 330px;
  overflow: hidden;
}

#map {
  height: 500px;
  width: 100%;
  margin: 0 auto;
}




       /*Profile view Css
==========================================
       */
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}
.panel-footer{height: 45px;}
.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
.eo-box{
    overflow: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    background: #ffffff;
    position: relative;
}
.eo-timeline-cover{
    object-fit: cover;
    width: 100%;
    height: 360px;

}
.eo-timeline{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.eo-timeline:hover .eo-timeline-toolkit{
    display: inline-block;
}
.eo-timeline-toolkit{
    display: none;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 5px 20px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    color: #ffffff;
    border: 1px solid #fff;
}
.eo-timeline input[type=file]{
    visibility: hidden;
}
.eo-timeline-toolkit label{
    font-size: 12px;
    font-weight: normal;
}
.eo-dp-box{
    width: 16%;
    height: 200px;
    overflow: hidden;
    top: -69px;
    position: relative;
}
.eo-dp{
    width: 100%;
    border: 4px solid #ffffff;
	margin-top:30px;
}
.eo-dp-box:hover .eo-dp-toolkit{
    display: inline-block;
}
.eo-dp-toolkit{
    display: none;
    position: absolute;
    top: 89px;
    left: 19px;
    width: 83%;
    height: 57px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: #ffffff;
}
.eo-dp-toolkit input[type=file]{
    visibility: hidden;
}
.eo-dp-toolkit label{
    font-size: 12px;
    font-weight: normal;
}
.eo-timeline-details{

    top: -69px;
    right: 19px;
}
.eo-timeline-details h1 a{
    text-decoration: none;
    color: #fff;
    background: rgba(0,0,0,0.7);
    padding: 5px 13px;
}
.eo-edit-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #ffffff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.eo-section{
    padding-top: 20px;
}
.eo-details{
    padding: 3px;
}
.eo-details span{
    font-weight: 600;
}
.eo-edit-section{
    display: none;
}
.eo-edit-section hr{
    width: 100%;
    float: left;
}
.eo-edit-section h3{
    background-color: #eee;
    padding: 10px;
}
.eo-about{
    position: relative;
}
.eo-about-heading{
    margin-left: -10px;
    margin-right: -10px;
    background: #eee;
    margin-top: -10px;
    padding: 10px 13px;
}
.eo-about-org{
    padding: 10px;
    text-align: justify;
}
.eo-about-editor{
    display: none;
}

.cVenue-box{
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    background: #ffffff;
    padding-bottom: 20px;
}

#container{
    margin-top: 100px; margin-bottom: 100px;
}
.eo-about{
    position: relative;
}
.eo-about-heading{
    margin-left: -10px;
    margin-right: -10px;
    background: #eee;
    margin-top: -10px;
    padding: 10px 13px;
}
.eo-about-org{
    padding: 10px;
    text-align: justify;
}
.r-add-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #ffffff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*End section of Profile view
==================================================
*/




/*media Query
==================================

*/

@media (max-width: 499px){
.customlogo{height: 34px;
width: 20%;}
.eo-timeline-cover {
        object-fit: cover;
        width: 308px;
        height: 115.63px;
    }
.eo-box{
    width: 330px;
    height:auto;
}
.eo-dp-box{
        text-align: center;
    }
.custom_profile{
    margin-top: 90px;
    padding-left: 38px;
}
.eo-dp-box{
        text-align: center;
        width: 40%;
        left:27%;
        margin-top: -205px;
    }
.eo-timeline-details{
        text-align: center;
    }
.eo-timeline-details h1 a{
        background: none;
        color: #2d8ac7;
    }
.eo-edit-btn{
        top: -306px;
        right: -21px;
    }
.hero-area{height: 250px;}
  /*footer Meida Css  End ===========================================   */
  #footer{text-align: center;}

    /*Media  499 Queryy ended  */
    }
